/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  transition: transform 0.3s ease;
  z-index: 1000;
}


/* Main content */
.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
  padding: 20px;
}

.main-content.shifted {
  margin-left: 250px;
  /* ให้ตรงกับความกว้าง Sidebar */
}

/* Optional: overlay */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/* Sidebar Footer */
.logo-icon {
  background: "none";
  border: "none";
  cursor: "pointer";
  padding: 0;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  color: "#fff";
  font-size: "1rem";
  margin-top: -5px;
}
.settings-icon {
  height: 1.5rem;
  cursor: pointer;
  color: #2d9b8c; /* สีเขียวหรือตามที่ชอบ */
  transition: color 0.3s ease;
}

